footer {
    position: fixed;
    background-color: #2f2f2f;
    width: 100%;
    bottom: 0; /* ← Anchors to the bottom of the viewport */
}

footer p {
    margin: 0;
    padding: 20px 30px;
    color: #888787;
}