footer {
    background-color: #2f2f2f;
    height: 20%;
    width: 100%;
    margin-top: auto;
    transition: transform 0.3s ease;
}

footer p {
    margin: 0;
    padding: 20px 30px;
    color: #888787;
}

footer.hidden-footer {
    transform: translateY(100%);
}