*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f1e2d1;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/*Header*/
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    padding: 15px;
}

/*Container*/
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#menu-icon, #home-icon{
    cursor: pointer;
}

/*Sidebar*/
section{
    background-color: #541a1a;
    color: white;
    width: 220px;
    height: 80vh;
    border-radius: 20px;
    position: fixed;
    left: 20px;
    top: 90px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info p{
    margin-left: 15px;
    font-weight: bold;
}

ul{
    padding: 0;
}

li{
    list-style: none;
    margin: 25px 0;
}

li a{
    color: white;
    text-decoration: none;
}

#logout{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
    cursor: pointer;
}

.hidden{
    display: none;
}

/*Main COntent*/
.content{
    width: 75%;
    margin: 40px auto;
    margin-left: 280px;
    background: #541a1a;
    border-radius: 40px;
    padding: 40px;
    color: white;

    min-height: 80vh;
} 

.content h2{
    text-align: center;
    margin-bottom: 30px;
}

/*Button*/
.add-btn{
    display: block;
    margin: 0 auto 30px;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    background: white;
    font-weight: bold;
    cursor: pointer;
}

.add-btn:hover{
    background: #e5e5e5;
}

/*Table*/
table{
    width: 100%;
    border-collapse: collapse;
}

th{
    background: #bcc6cf;
    color: black;
    padding: 20px;
}

td{
    background: white;
    color: black;
    text-align: center;
    padding: 15px;
}

td a{
    text-decoration: none;
    color: #541a1a;
    font-weight: bold;
}

td a:hover{
    text-decoration: underline;
}