body{
    background-color: #f1e2d1;
    font-family: Arial, Helvetica, sans-serif;
}


.content{
    margin-left: 280px;
    margin-right: 20px;
    margin-top: 30px;

    background: #541a1a;
    border-radius: 40px;

    padding: 40px;
    color: white;

    min-height: 82vh;
}

.content h2{
    margin-bottom: 30px;
    font-size: 32px;
}


table{
    width: 100%;
    border-collapse: collapse;
}

th{
    background: #bcc6cf;
    color: black;
    padding: 18px;
}

td{
    background: white;
    color: black;
    text-align: center;
    padding: 15px;
    border: 1px solid #777;
}


.request-btn{
    padding: 8px 15px;
    margin: 2px;

    border: none;
    border-radius: 20px;

    color: white;
    font-weight: bold;
    cursor: pointer;
}

.approve-btn{
    background: green;
}

.reject-btn{
    background: red;
}

.request-btn:hover{
    opacity: 0.8;
}


.approved-text{
    color: green;
    font-weight: bold;
}

.rejected-text{
    color: red;
    font-weight: bold;
}

.pending-text{
    color: orange;
    font-weight: bold;
}