.content h2{
    margin-bottom: 30px;
    font-size: 32px;
}

.request-btn{
    padding: 8px 15px;
    margin: 2px;

    border: none;
    border-radius: 5px;

    color: white;
    font-weight: bold;
    cursor: pointer;
}

.approve-btn{
    background: green;
}

.reject-btn{
    background: red;
}

.request-btn:hover{
    opacity: 0.8;
}

.approved-text{
    color: green;
    font-weight: bold;
}

.rejected-text{
    color: red;
    font-weight: bold;
}