*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}
.container{
    width:100%;
}

.title{
    color:#8f8f8f;
    margin-bottom:10px;
    font-size:32px;
}

.background{
    height:100vh;
    background:linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),url("donation.webp");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-box{
    width:450px;
    background:#6f1717;
    padding:50px;
    border-radius:30px;
    text-align:center;
}

.login-box h1{
    color:#f3d7c6;
    margin-bottom:30px;
}

.login-box form{
    display:flex;
    flex-direction:column;
}

.login-box label{
    text-align:left;
    color:white;
    font-size:12px;
    margin-bottom:5px;
}

.login-box input{
    height:30px;
    border:none;
    margin-bottom:15px;
    padding:5px 10px;
}

.login-box button{
    width:100px;
    margin:15px auto;
    padding:8px;
    border:none;
    border-radius:5px;
    background:#e9c4aa;
    cursor:pointer;
}

.login-box button:hover{
    opacity:0.8;
}

.login-box p{
    color:white;
    font-size:12px;
}

.login-box a{
    color:white;
    text-decoration:none;
}

.success{
    width:150px;
    height:auto;
}